.col-sm-3{
    font-weight: bold;
    width:1050px;  
}
.col-sm-9{

    margin-top:15px;
    width: 350px;
    
}
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    width: 1050px;
    
}
